
/** ADD YOUR AWESOME CODES HERE **/

.logo{
  height: 100px;
  width: 140px; ;
  object-fit: cover;
}
.marqueur{
  color: #ed2d40;
}
.nav-bg{
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  
  





.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0px;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-light .navbar-toggler:active ,
.navbar-light .navbar-toggler:focus {
  border-color: #ed2d40;
}

.myvideo{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 8px;
 
  
  
  
}

.all-page-bar { 
height: 460px !important;
background-size: cover;
position: relative; 
} 

.section wb parallax-inner-bg {
  background: url(../images/allouache-100.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}


.sv-img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  
}
.map-wraper{
  position: relative;
  margin-top: 30px 25px;
}
.div-map {
  position: relative;
  top: 0;
  margin: 40px 0px;
  
  width: 80%;
  height: 600px;
}
.caousel-taable{
  margin-bottom: 8px;
}
}
.nav-item :active{
  color: #ed2d40;
}